#discover-title{
    font-size: 60px;
    letter-spacing: 12px;
    line-height: 27px;
    text-align: center;
  
}
#try-text{

  font-size: 30px;
  letter-spacing: 6px;
  line-height: 27px;
  text-align: center;
  margin: 100px 0;
}