.header{
  
  background: $color-dark;
  color: $color-light;
}


.header__img {
  padding: ($base-size * 5) 0 ($base-size * 8) 0;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, #131313), url('../../images/background.jpg');
  position: relative;
  background-position: center center;
  background-size: cover;
  text-align: center;

}
  
.header__middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
.header__title{
  position: relative;
  right: -40px;
  font-size: 200px;
  letter-spacing: 120px;
  text-transform: uppercase;
  font-weight: $font-bold;
  text-align: center;
  filter: drop-shadow(0 0 71px rgba(0,0,0,0.39));
  margin-bottom: 0;

}

.header__subtitle{
  font-size: 36px;
  letter-spacing: 11px;
  line-height: 72px;
  margin : 2px;
  text-align: center;

}

.header__wrapper {
  position: relative;
  @include flex(row, center, center);
  padding: ($base-size * 5) 0 ($base-size * 8) 0;
}

.main-nav {
  position: absolute;
  @include flex(row, center, center);

  a {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 27px;
    color: $color-grey;
    text-decoration: none;
    margin-right: ($base-size * 2);
    text-align: center;
    padding: ($base-size * 4);
    text-transform: uppercase;
    font-weight: $font-semibold;

    &:hover {
      color: $color-light;
    }

  }
   
  
}

