.song-list {
  padding: 36px 0;
  
  
}

.audio-player{
  text-align: center;
  margin: 0px 100px;
  
}

.green-audio-player .slider .gap-progress .pin {
  background-color: $color-main;
  
}

.audio-description{

  display: flex;
  justify-content: space-evenly;
  margin-right: 90px;
  
  
}

.song-title{
  text-align: center;
  margin-right: 50px;
}